* {
  box-sizing: border-box;
}
#box {
  padding:0px;
  height: 100%;
  font-family: calibri;
  overflow: auto;
  margin: auto;
}
h1 {
  margin-bottom: 15px;
  text-align: center;
  font-size: 1.75em;
}
h2{
  margin:0px;
}
#item1{
  position: relative;
  border: 1px solid black;
  margin-bottom: 15px;
  text-align: center; 
  font-weight: bold;
  float: right;
  clear: left;
  width:30%;
  color:black;
  background-color: pink;
  font-weight: bold;
  font-size:  1.25em;
}
#item2 {
  border: 1px solid black;
  margin-bottom: 15px;
  text-align: center; 
  font-weight: bold;
  float: right;
  clear: left;
  width:30%;
  color:white;
  background-color: red;
  font-size: 1.25em;
}
#item3 {
  border: 1px solid black;
  margin-bottom: 15px;
  text-align: center; 
  float: right;
  clear: left;
  width:30%;
  color:black;
  background-color: beige;
  font-weight: bold;
  font-size: 1.25em;
}
p {
	float: left;
	clear:right;
  font-size: 1.25em;
  padding:0px 10px 0px 10px;
}

/********** Large devices only **********/
@media (min-width: 992px) 
	{
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6{
    float: left;
    border: 1px solid black;
    background-color: grey;
    padding:0px;
    margin: 10px;
  }
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  /* all 3 tiles not staying in a row when i give 33% so changing it to 31 here */
  .col-lg-4 {
    width: 31%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

 .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-12 {
    float: left;
    border: 2px solid black;
    background-color: grey;
    padding:0px;
    margin: 10px;
  }
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  /* Adjusting width to 47% as with 50% 2 tiles not fitting in same row for medium device.*/
  .col-md-6 {
    width: 47%;
  }
  .col-md-12 {
    width: 96%;
  }
}

/********** Small devices only **********/
@media (max-width: 767px) {
	.col-sm-12{
		float: left;
    border: 2px solid black;
    background-color: grey;
    padding:0px;
    margin: 15px;
		width:90%;
	}

}
